h4 {
  text-align: center;
}

/* Paste of CSS */
body {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-gap: 1em;
  font-size: large;
  background: #1da598;
}

.mealsearch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 1px solid black;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  padding-bottom: 10px;
  width: 643px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  /* margin-left: 1200px; */
  height: 25px;
  height: 100%;
}

.main-list {
  width: 374px;
  /* border: 1px solid black; */
}

.header {
  height: 22px;
  display: flex;
  justify-content: flex-end;
  /* padding-right: 20px; */
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;
  height: 675px;
  max-height: 90vh;
  /* margin-top: 100px; */
  /* padding-top: 500px; */
}
.main-list {
  background: white;
}

.header,
.footer,
.user-interface {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #1da598;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

header,
footer,
.user-interface {
  grid-column: 1 / span 2;
}

.small {
  display: none;
}

.large {
  background: #1da598;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0 auto;
  padding: 1em 0;
}

main,
header,
footer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: #1da598;
}
.user-interface {
  display: flex;
  flex-direction: row;
  background: #1da598;
}

#clearallbottom {
  display: none;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  75%{top:-1.2em}
  78%{top:0em}
  100%{top:0em}
}

#deletemeal,
#canceldelete {
  display: none;
}

#view-wine,
.add-meal,
.buttons,
#deletemeal,
#canceldelete  {
	box-shadow: -1px 2px 38px 4px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
  border-radius:5px;
  display: inline-block;
	border:1px solid #337bc4;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  position: relative;
	font-weight:bold;
	padding:0.3em 1.2em;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  /* animation:bouncy 5s infinite linear; */
}

#load-defaults,
#random,
#display-meals
{
  margin-bottom: 20px;
}
.add-meal:hover,
.buttons:hover,
#mealhide:hover,
#deletemeal:hover,
#canceldelete:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.add-meal:active,
.buttons:active,
#mealhide:active,
#deletemeal:active,
#canceldelete:active {
	position:relative;
	top:1px;
}


.display {
  border: 1px solid black;
  background-color: white;
}
@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }


  header {
    width: 100%;
    text-align: center;
  }

  .display {
    border: none;
  }
  #clearallbottom {
    display: flex;
  }
  
#start-search {
  /* margin-left: 2px;
  left: -50px; */
  position: relative;
  left: -50px;
}

.search-terms{
  /* padding-left: 50px; */
  position: relative;
  left: -60px;  
}
  /* button {
    border-radius: 2em ;
  } */

 

  header {
    display: none;
  }

  footer {

    align-content: center;
    justify-content: center;
  }

  main {
    height: 100%;
  }

  .large {
    display: flex;
    margin-top: 10px;
  }
}

.message {
  display: none;
  color: white;
  height: 18px;
  border: 1px solid white;
  background-color: #1da598;
}
#startingtext {
  color: white;
  display: flex;
  position: absolute;
  right: 800px;
  background-color: #1da598;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1da598;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}

#logbutton {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 45px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
button:hover,
.message:hover,
#logbutton:hover {
  background: #2ecc71;
}

